* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #b0b8e6;
}

nav {
  background: linear-gradient(45deg, #5179e7, #042429);
  /* background-color: #5179e7; */
  padding: 20px;
  width: 100%;
  height: 10vh;
  bottom: auto;
  z-index: 1000;
  /* position: relative; */ */ */
  /* display: inline-block; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: fixed;
  top: 0;
  left: 0;
}

nav a {
  list-style: none;
  bottom: 0;
  padding: 30px;
  margin-top: 5px;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

nav a:hover {
  color: rgb(29, 24, 24);
}

main {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap; 
  position: relative; 
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin-top: auto;
  background-color: #c3c7d1;
}

section {
  border: solid;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* text-align: center; */
}

.container {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
  border-radius: 50px; 
  border: solid; 
  padding: 30px;
  background-color: #32aab9;
  border-color: #042429;
  box-shadow:  0 2px 3px;
  
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  color: black;
  margin-top: 60px;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  color: black;
}

p {
  text-align: center;
  display: flex;
  font-size: 18px;
 }  

.button {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  margin-left: 45%;
  width: 110px;
  height: 35px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #0644ec;
  color: rgb(255, 255, 255);
  border-radius: 5px; 
  font-weight: bold;
}

.button:hover {
  background-color: #012c50; /* Change background color on hover */
}

@media only screen and (max-width: 600px) {
  
  nav {
    top: auto;
    bottom: 0;
  }  

  body {
  background-color: #c68edb;
  }
}
